.headerWrapper {
  display       : flex;
  flex-direction: column;
}

.navBorderWrapper {
  border-top   : 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.navWrapper {
  display    : flex;
  align-items: center;
  padding    : rem(10px) rem(40px);
  max-width  : rem(1280px);
  margin     : 0 auto;
}

.breadCrumbWrapper {
  max-width: rem(1280px);
  margin   : 0 auto;
}