.mainNavWrapper {
  margin: 0 auto;
  
  @media (max-width: $mobileMaxWidth) {
    border-bottom: 1px solid $footerBorder;
    margin-bottom: rem(20px);
  }
}

.mainNav {
  font-family: 'Montserrat';
  font-size  : rem(14px);
  line-height: rem(20px);
  text-transform: uppercase;
  color: $headerLinksColor;

  li {
    display: inline-block;
    margin-right: rem(55px);

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $mobileMaxWidth) {
      font-size: rem(16px);
      display: block;
      margin: rem(20px) 0;
    }
  }
}