.searchForm {
  border-bottom: 1px solid rgba(104, 104, 104, 0.4);
  padding: 5px 0;

  label {
    display        : inline-block;
    text-indent    : -9000px;
    width          : rem(21px);
    height         : rem(21px);
    background     : transparent url('/search-icon.svg') no-repeat;
    background-size: rem(21px) rem(21px);
  }

  input {
    border     : none;
    font-family: Montserrat;
    font-size  : rem(12px);
    line-height: rem(18px);
    outline    : none;
    width      : rem(62px);
    padding    : 0 rem(10px);
  }
}