.certifiedIconsWrapper {
  position: absolute;
  left: rem(70px);
  top: rem(97px);
  
  @media (max-width: $mobileMaxWidth) {
    position: static;
    margin: rem(25px) auto;
    display: flex;
    justify-content: center;
  }

  li {
    display: inline-block;
    margin-right: rem(32px);

    &:last-child {
      margin-right: 0;
    }
  }
}