.newsletterWrapper {
  position: absolute;
  top     : rem(-104px);
  right   : rem(30px);
  width   : rem(293px);
  height  : rem(293px);

  border       : 2px solid $footerBorder;
  border-radius: rem(147px);
  background   : #fff;
  padding-top  : rem(40px);

  h3 {
    text-align    : center;
    font-family   : 'Montserrat';
    font-weight   : 700;
    font-size     : rem(16px);
    line-height   : rem(26px);
    text-transform: uppercase;
    margin-bottom : rem(10px);
  }

  .newsletterForm {
    .inputNewslleter {
      position   : relative;
      display    : flex;
      align-items: flex-end;
      width      : rem(216px);
      margin     : 0 auto;
      height     : rem(45px);

      label {
        position   : absolute;
        bottom     : rem(5px);
        left       : 0;
        transition : all 100ms ease-in-out;
        color      : rgba(32, 32, 32, 0.5);
        font-size  : rem(14px);
        font-family: 'Montserrat';
        pointer-events: none;
      }

      input {
        border       : none;
        border-bottom: 2px solid $footerBorder;
        height       : rem(30px);
        outline      : none;
        color        : rgb(32, 32, 32);
        font-size    : rem(14px);
        font-family  : 'Montserrat';
      }

      input:not(:placeholder-shown)+label,
      input:focus+label {
        bottom   : rem(28px);
        font-size: rem(12px);
      }
    }

    button {
      -webkit-appearance: none;
      display           : block;
      width             : rem(110px);
      font-family       : 'Montserrat';
      font-size         : rem(14px);
      line-height       : rem(50px);
      text-transform    : uppercase;
      border            : none;
      background        : $footerFormButtonBg;
      color             : #fff;
      border-radius     : 3px;
      margin            : rem(30px) auto 0 auto;
    }
  }

}