.productInfoContainer {
  font-family  : 'Montserrat';
  width        : rem(444px);
  flex-shrink  : 0;
  border       : 2px solid $productContainerInfoBorder;
  border-radius: 3px;
  padding      : rem(20px);

  @media (max-width: 1050px) {
    width      : auto;
    flex-shrink: unset;
  }

  @media (max-width: $mobileMaxWidth) {
    border : none;
    padding: 0;
    width  : 100%;
  }

  .productName {
    font-size     : rem(26px);
    font-weight   : 700;
    line-height   : (32px);
    text-transform: uppercase;
    color         : $productName;

    @media (max-width: $mobileMaxWidth) {
      font-size  : rem(18px);
      font-weight: normal;
      color      : $productSelectedColorBorder;
      text-align : center;
    }
  }

  .productCode {
    display    : block;
    font-size  : rem(14px);
    line-height: rem(14px);
    color      : $productName;

    @media (max-width: $mobileMaxWidth) {
      font-size : rem(12px);
      text-align: center;
    }
  }

  .priceAndButtonWrapper {
    display   : flex;
    margin-top: rem(30px);

    .priceAndButonContainer {
      padding    : rem(5px) 0;
      width      : 50%;
      flex-shrink: 0;
    }
  }

  .priceWrapper {
    margin-top: rem(25px);

    strike {
      position       : relative;
      font-size      : rem(14px);
      text-decoration: line-through;
      color          : $productPriceWithoutDiscount;
      padding-right  : rem(10px);
      margin-right   : rem(10px);

      &:after {
        content   : '';
        background: $productPriceWithoutDiscount;
        width     : 1px;
        height    : 100%;
        display   : block;
        position  : absolute;
        top       : 0;
        right     : 0;
      }
    }

    strong {
      font-size  : rem(20px);
      color      : $productPrice;
      font-weight: 700;
    }

    @media (max-width: $mobileMaxWidth) {
      margin: 0;

      strike,
      strong {
        display: block;
      }

      strike {
        font-size: rem(12px);

        &:after {
          display: none;
        }
      }

      strong {
        font-size  : rem(16px);
        font-weight: normal;
      }
    }

  }

  .paymentPartsWrapper {
    font-size  : rem(12px);
    color      : $productPricePaymentParts;
    line-height: rem(18px);
  }

  .colorsWrapper,
  .sizeWrapper {
    padding-top: rem(35px);
    font-size  : rem(14px);

    @media (max-width: $mobileMaxWidth) {
      padding-top: 0;
      margin-top : rem(20px);
    }

    .colorNameWrapper,
    .sizeNameWrapper {
      display      : block;
      margin-bottom: 10px;

      em {
        color     : $productSelectedInfo;
        font-style: normal;

        &:before {
          content: '(';
        }

        &:after {
          content: ')';
        }
      }
    }

    .sizeNameWrapper {
      display: flex;

      .sizeGuideLink {
        margin-left    : auto;
        color          : $productSelectedSizeBg;
        text-decoration: underline;
        margin-right   : rem(5px);
      }
    }

    .colorListItem {
      position     : relative;
      display      : inline-block;
      text-indent  : -9000px;
      width        : rem(22px);
      height       : rem(22px);
      border-radius: 11px;
      cursor       : pointer;
      margin       : 3px 15px 3px 3px;

      &:hover:after {
        position     : absolute;
        top          : -3px;
        left         : -3px;
        background   : transparent;
        border       : 2px solid $productContainerInfoBorder;
        border-radius: 14px;
        width        : rem(24px);
        height       : rem(24px);
        content      : '';
      }

      &.colorListItem_selected:after,
      &.colorListItem_selected:hover:after {
        position     : absolute;
        top          : -3px;
        left         : -3px;
        background   : transparent;
        border       : 2px solid $productSelectedColorBorder;
        border-radius: 14px;
        width        : rem(24px);
        height       : rem(24px);
        content      : '';
      }
    }

    .sizeListItem {
      display   : inline-block;
      border    : 1px solid $productSelectSizeBorder;
      color     : $productSelectedInfo;
      padding   : 6px 8px;
      margin    : 0 5px 5px 0;
      cursor    : pointer;
      background: #FFF;
      width     : rem(35px);

      &:hover {
        border-color: $productContainerInfoBorder;
      }

      &.sizeListItem_selected {
        background : $productSelectedSizeBg;
        color      : $productSelectedSizeColor;
        font-weight: 700;
      }
    }

  }

  .addToCartButton {
    margin-top  : rem(50px);
    margin-right: rem(5px);

    &:hover {
      text-decoration: none;
    }

    @media (max-width: $mobileMaxWidth) {
      margin         : 0;
      font-size      : rem(18px);
      line-height    : rem(18px);
      display        : flex;
      justify-content: center;
      align-items    : center;
    }
  }

  .descriptionTitle {
    margin-top   : rem(30px);
    margin-bottom: rem(5px);
    font-size    : rem(14px);
    font-weight  : normal;
    color        : $productSelectedColorBorder;
  }

  .productDescription {
    margin-top : rem(15px);
    font-size  : rem(14px);
    line-height: rem(28px);
    color      : $productName;

    @media (max-width: $mobileMaxWidth) {
      margin-top: 0;
    }
  }
}