$headerLinksColor: #686868;
$sideBarProductText: #DE8F75;

$productContainerInfoBorder: #D2E1DF;
$productName: #202020;
$productPrice: #686868;
$productPriceWithoutDiscount: #E35442;
$productPricePaymentParts: #7F7F7F;
$productSelectedInfo: #5F75AA;
$productSelectedColorBorder: #DE8F75;
$productSelectSizeBorder: #EBEBEB;
$productSelectedSizeBg: #DE8F75;
$productSelectedSizeColor: #FFF;

$addToCartButton: #32917B;

$paginationLinks: #2A5A75;

$footerBorder: #AEB6C1;
$footerFormButtonBg: #DE8F75;

$cartFreeDeliveryBg: #AEB6C1;
$cartPurchaseInfoBg: #E3E3E3;
$cartQuantityColor: #5F75AA;